/* 선택지 */
.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid rgb(20, 103, 5, 0.848);
  background-color: #b6ffab;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(20, 103, 5, 0.848);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 0.5rem 0.5rem;
  background-color: #0a4800;
  color: #b6ffab;
}

.choice-text {
  width: 100%;
}

.correct {
  background-color: #756effe0;
}

.incorrect {
  background-color: #dc3545;
}

/*흠*/

#hud {
  display: flex;
  justify-content: space-between;
  height:12rem;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
}

#progressBar {
  width: 20rem;
  height: 4rem;
  border: 0.3rem solid #0a4800;
  margin-top: 1.5rem;
}

#progressBarFull {
  height: 3.4rem;
  background-color: #0a4800;
  width: 0%;
}

/*로딩화면*/
#loader {
  border: 1.6rem solid #b6ffab;
  border-radius: 50%;
  border-top: 1.6rem solid #0a4800;
  width: 12rem;
  height: 12rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* 광고 */
.cmtext_ad {
  position: relative;
  width: 100%;
  min-height: 100px;
  background-color: #F8FAFB;
  text-align: left;
  letter-spacing: 0;
}